body{
    background-color: #F9F9F9;
}

#name{
    color: #6886C5;
}

#age{
    color:#6886C5;
}


hr {
    border-style: dotted none none none;
    border-color: #FFACB7;
    width: 5%;
    border-width: 10px;




}

a:hover{
    background-color: #FFACB7;
}

h2 {

    color: #6886C5;
}

#mainenemy{

    color: brown;
}

.container {
        width: 280px;
    height: 280px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Resize images */
/*.container img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    display: flex;
    align-items: center;
}*/

img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 100%;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

.hover_img {
    position:relative;
}

.hover_img span {
    position:absolute;
    display:none;
    z-index:99;
}
.hover_img:hover span { display:block; }


.eternalsm{
    border-radius: 0%;
}


.eternalsm:hover{
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
}

